@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans&display=swap');

body {
    font-family: "Work Sans", sans-serif;
}

h1 {
    font-family: "Fjalla One", sans-serif;
}